#header {
	position: absolute;
}

#subtitle {
	display: block;
}

#headline a {
	font-size: 2.5em;
}

.canvas {
	height: 110px;
}

#pre {
	width: 90%;
}

#burger {
	display: none;
}

h1 {
	margin-top: 1.5em;
}

#article {
	width: 90%;
	margin: 30px auto;
}

.post hr {
	width: auto;
}

.post_image {
	float: right;
}

#article p {
	margin: auto;
}

#headline {
	width: 25em;
	padding: 5px 10px;
}

#body {
	margin-top: 190px;
	margin-bottom: 140px;
}

pre {
	margin: 10px 0px;
}

#menu {
	display: block;
	margin: 15px;
}

#menu a {
	display: initial;
}

#menu li {
	display: inline;
}

.fixed-menu {
	position: fixed;
	top: 0px;
	width: 100%;
	margin: 0px !important;
	padding: 20px 0px;
	background-color: #111111;
	box-shadow: #000000 0 7px 6px -6px;
	-webkit-box-shadow: #000000 0 7px 6px -6px;
}

#container {
	width: 75%;
	margin: auto;
	padding: 1px 10px;
	position: relative;
	background-color: rgba(1, 1, 1, 0.6);
}

#disclaimer {
	bottom: 30px;
}