/* general */

html {
	height: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	position: absolute;
}


/* header */

#header {
	text-align: center;
}

#banner {
	background-color: #111111;
	color: #ffffff;
}

#banner h1 {
	margin: 0px;
	padding: 10px;
}

#headline {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 20px;
}


/* unvisited link */

#banner a:link {
	color: #ffffff;
	text-decoration: none;
}


/* visited link */

#banner a:visited {
	color: #ffffff;
}


/* selected link */

#banner a:active {
	color: #ffffff;
	text-decoration: underline;
}

.cursor {
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#tagcloud {
	background-color: #202020;
}

.fixed-cloud {
	position: fixed;
	width: 100%;
	top: 0px;
}

.fix-body {
	margin-top: 116px !important;
	/* adapt when banner height changes! */
}


/* body */

#body {
	width: 70%;
	margin: 10px auto 85px auto;
	background-color: grey;
	padding: 10px;
}

#body h2 {
	margin-top: 0px;
}

#body p {
	font-weight: bold;
}

#body div {
	background-color: #367b44;
	margin: 10px;
	padding: 20px;
}

.article {
	overflow: auto;
}

.article img {
	width: 300px;
	float: left;
	margin: 5px 10px;
}

.image img {
	width: 50%;
	display: block;
	margin: auto;
}

.icon {
	float: right;
}


/* footer */

#footer {
	background-color: #111111;
	color: #ffffff;
	text-align: center;
	height: 75px;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
}