/* general */

body {
	margin: 0px;
}


/* header */

#header {
	text-align: center;
}

#banner {
	background-color: #111111;
	color: #ffffff;
	padding: 10px;
}

#banner h1 {
	margin: 0px;
	padding: 10px;
}

.cursor {
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#tagcloud {
	background-color: #202020;
}

#tagcloud canvas {
	width: 70%;
	height: 100px;
}


/* body */

#body {
	width: 70%;
	margin: 10px auto;
	background-color: grey;
	padding: 10px;
}

#body h2 {
	margin-top: 0px;
}

#body p {
	font-weight: bold;
}

#body div {
	background-color: #367b44;
	margin: 10px;
	padding: 20px;
}

.article {
	overflow: auto;
}

.article img {
	width: 300px;
	float: left;
	margin: 5px 10px;
}

.image img {
	width: 50%;
	display: block;
	margin: auto;
}


/* footer */

#footer {
	background-color: #111111;
	color: #ffffff;
	text-align: center;
	height: 75px;
}