* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

#header {
	background-color: #111111;
	z-index: 11;
	width: 100%;
}

:target,
.mark {
	animation: mark 1.5s;
}

@keyframes mark {
	0%,
	100% {
		background-color: #202020;
	}
	50% {
		background-color: #ff6d00;
	}
}

@-webkit-keyframes mark {
	0%,
	100% {
		background-color: #202020;
	}
	50% {
		background-color: #ff6d00;
	}
}

.fa-border {
	background-color: #484848;
}

.fa-border i {
	padding-right: 7px;
	color: #ff6d00;
}

.box {
	font-size: 1.125em;
	line-height: 25px;
}

.quote {
	background-color: #484848;
}

.warning {
	background-color: #FF0000;
}

.info {
	background-color: #2940C4;
}

.exclamation {
	background-color: #9EAF00;
}

.tldr {
	background-color: #00b700;
}

#pre {
	background-color: #484848;
	margin: auto;
}

#pre hr {
	width: 100%;
}

#pre ol {
	counter-reset: overview;
	list-style-type: none;
	padding-left: 30px;
	margin: 0px 0px 15px 0px;
}

#pre li {
	margin: 2px 0px 0px 0px;
}

#pre ol li::before {
	counter-increment: overview;
	content: counters(overview, ".") " ";
}

#console {
	margin-right: -7px;
}

@font-face {
	font-family: 'hack_font';
	font-style: normal;
	font-weight: 400;
	src: local('Hack'), url('/webfonts/hack_font/hack_reg.woff2') format('woff2'), url('/webfonts/hack_font/hack_reg.woff') format('woff'), url('/webfonts/hack_font/hack_reg.ttf') format('truetype');
}

body {
	margin: 0px;
	position: absolute;
	width: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	counter-reset: headline1;
}

#menu {
	color: #ffffff;
	text-align: center;
}

#menu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ol,
ul {
	line-height: 25px;
}

#menu a {
	padding: 10px;
	margin: 10px;
	background-color: #202020;
	color: #ffffff;
	text-decoration: none;
	display: block;
	font-weight: bold;
	text-shadow: 4px 3px 3px #000000;
	border-radius: 5px;
}

#menu a:hover:not(.active) {
	background-color: #2ed62e;
}

#menu .active:hover {
	background-color: #ff0000 !important;
}

.active {
	background-color: #ff6d00 !important;
}

pre {
	width: 100%;
	white-space: normal;
	line-height: 22px;
	box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.659);
	counter-reset: line -1;
	border-left: 5px solid #ff6d00;
	border-radius: 3px;
	word-break: break-word;
}

code {
	white-space: pre-wrap;
	counter-increment: line;
	padding: 2px 0.5em !important;
	font-family: hack_font;
	font-size: 15px;
}

#buisnesscard {
	max-width: 340px;
	height: 200px;
	position: relative;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.62);
	margin: auto;
}

.fa-telegram {
	color: #0d86d7;
}

#buisnesscard img {
	margin: 10px;
	width: 130px;
}

#buisnesscard div {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 19px;
}

.code {
	background-color: #111111;
	padding: 3.5px;
	border-radius: 2px;
	border: 1px #333333 solid;
	font-family: hack_font;
	font-size: 15px;
}

.file {
	font-style: italic;
}

pre.multiline code:before {
	color: #ffffff;
	content: counter(line, decimal-leading-zero) ". ";
}

code:nth-child(even) {
	background-color: #1e1e1e;
}

.command:before {
	color: #ffffff;
	content: "$ ";
}

#background {
	background: url("/icon/code.jpg");
	width: 100%;
	height: 100%;
	top: 0px;
	position: absolute;
}

#headline {
	position: absolute;
	background: rgba(27, 27, 27, 0.75);
	top: 3px;
	margin: auto;
	left: 0px;
	right: 0px;
	color: #ffffff;
	text-align: center;
	border-radius: 3px;
}

a:not(.post_link) {
	text-decoration: none;
	color: #ff9355;
	transition: color 0.5s;
}

a:not(.post_link):hover {
	text-decoration: underline;
	color: #ff3300;
}

::selection {
	background-color: rgba(255, 109, 0, 0.87);
}

#headline a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

#headline a:active {
	text-decoration: underline;
}

.post {
	background-color: #202020;
	color: #ffffff;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
	width: 90%;
	z-index: 10;
	box-shadow: 10px 6px 3px 0px rgb(255, 109, 0);
}

.post_link {
	text-decoration: none;
}

.image {
	width: 100%;
	display: block;
	margin: auto;
}

.post_image {
	background-color: #111111;
	border-radius: 5px;
}

#article {
	position: relative;
	z-index: 10;
	background-color: #202020;
	color: #ffffff;
	padding: 1px 5% 15px 5%;
	box-shadow: 10px 6px 3px 0px rgb(255, 109, 0);
}

#article p {
	text-align: justify;
	line-height: 25px;
}

#article p:first-of-type::first-letter {
	font-family: Georgia, serif;
	font-size: 2.5em;
}

.link {
	float: right;
	color: #333333;
	transition: color 0.5s;
}

.link:hover {
	color: #ff3300;
}

h1 {
	text-align: center;
	font-family: hack_font;
}

#article h1 {
	counter-reset: headline2;
}

#body_article h1::before {
	counter-increment: headline1;
	content: counter(headline1) ". ";
}

h2 {
	margin-left: 5%;
	font-size: 1.3em;
	font-family: hack_font;
}

#article h2 {
	display: inherit;
	margin-left: 0px;
	text-align: center;
	counter-reset: headline3;
	text-decoration: underline;
}

#body_article h2::before {
	counter-increment: headline2;
	content: counter(headline1) "." counter(headline2) " ";
}

h3 {
	font-family: hack_font;
	margin-left: 5%;
}

iframe {
	max-width: 100%;
}

#pre h3 {
	margin-left: 0px;
}

#body_article h3::before {
	counter-increment: headline3;
	content: counter(headline1) "." counter(headline2) "." counter(headline3) " ";
}

#subtitle {
	font-family: hack_font;
}

hr {
	height: 5px;
	background-color: #ff6d00;
	border: 0px;
	width: 90%;
}

.fa-li {
	color: #ff6d00;
}

#body_article li {
	margin: 5px 0px;
}

.cursor {
	animation: blink 0.7s infinite;
	margin-left: -7px;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#welcome {
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	border-radius: 10px;
	font-size: 1.2em;
}

#welcome h1 {
	font-size: 1.8em;
	min-width: 250px;
	display: flex;
}

#welcome img {
	float: right;
	position: relative;
}

#box {
	border-left: 5px solid #ff6d00;
	margin: 10px;
	padding: 10px;
}

#tags_article {
	text-align: center;
	padding-top: 15px;
	margin-bottom: 10px;
}

.tags {
	text-align: center;
}

.tag_text {
	position: relative;
	text-align: center;
}

.tag_div {
	display: inline-block;
	position: relative;
}

#logo {
	position: absolute;
	right: 5px;
	z-index: 23;
}

.gallery_container {
	padding: 20px 10px;
	overflow: hidden;
	position: relative;
	background-color: rgba(1, 1, 1, 0.6);
	text-align: center;
	margin-bottom: 25px;
}

.gallery_container div {
	position: relative;
	display: inline-block;
	max-width: 400px;
	width: 100%;
	height: 400px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	cursor: pointer;
	transition: 0.3s;
}

.gallery_container div:hover {
	opacity: 0.7;
}

#footer_article {
	background-color: #004D40;
	padding: 10px 15px;
	box-shadow: inset 0px 0px 14px 3px black;
}

.nav {
	position: fixed;
	bottom: 0px;
	z-index: 20;
	background-color: #484848;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0px 0px 13px 0px #000000;
}

#nav_right {
	right: 0px;
}

#nav_left {
	left: 0px;
}

#top:hover {
	animation-name: top;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes top {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

#back:hover {
	animation-name: back;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes back {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-10px);
	}
	60% {
		transform: translateX(-5px);
	}
}

#disclaimer {
	background: rgba(27, 27, 27, 0.75);
	color: #ffffff;
	left: 0px;
	right: 0px;
	margin: auto;
	position: absolute;
	width: 50%;
	text-align: center;
}

#footer {
	background: #111111;
	position: absolute;
	z-index: 10;
	bottom: 0px;
	width: 100%;
}

table {
	border-collapse: collapse;
	word-break: break-word;
	width: 100%;
	margin: 20px 0px;
	border: 5px solid #000000;
}

td {
	border: 3px solid #000000;
	padding: 8px;
}

tr {
	transition: background-color 1s;
}

tr:nth-child(odd) {
	background-color: #555555;
}

tr:nth-child(even) {
	background-color: #333333;
}

tr:hover {
	background-color: #0a0a0a !important;
}

td[rowspan] {
	background-color: #202020;
}

th {
	background-color: #050505;
	padding: 8px;
	border: 3px solid black;
}

tfoot td {
	font-weight: bold;
	background-color: #0a0a0a;
}

.image_box {
	background-color: #555555;
	padding: 5px;
	max-width: 500px;
	margin: 20px auto;
	box-shadow: #111111 0px 5px 20px 4px;
}

.image_box img {
	width: 100%;
}

.image_text {
	text-align: center;
	padding: 10px 20px;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 32;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

.modalcontent {
	max-height: 100%;
	max-width: 767px;
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888888;
}

::-webkit-scrollbar-thumb:hover {
	background: #ff6d00;
}