#header {
	position: fixed;
	box-shadow: #000000 0px 3px 10px 0px;
	-webkit-box-shadow: #000000 0px 3px 10px 0px;
}

#subtitle {
	display: none;
}

#headline a {
	font-size: 1.5em;
}

#pre {
	padding: 0.5em 0.5em;
}

#burger {
	position: absolute;
	color: #ff6d00;
	font-size: 3em;
	top: 0px;
	left: 10px;
}

h1 {
	font-size: 1.6em;
}

.nav div {
	padding: 5px 10px;
}

#article {
	width: 98%;
}

.post {
	padding: 5px;
}

#headline {
	width: 12em;
	padding: 9px;
}

#body {
	margin-top: 75px;
	margin-bottom: 75px;
}

.box {
	margin: 20px 0px;
}

pre {
	width: 100%;
	margin: 20px 0px;
}

#menu {
	display: none;
}

#disclaimer {
	bottom: 10px;
}

#logo {
	top: 0px;
	right: 0px;
	height: 55px;
}

.tag_img {
	width: 140px;
}